<div class="inner cover">
  <h1 class="cover-heading">Pet Project App</h1>
  <p class="lead">The perfect place to order your custom cosplay set</p>
  <p class="lead">
    <%= link_to "Create", categories_path, class: "btn btn-lg btn-secondary" %>
  </p>
</div>



