<%= form_for(@material, html: {class: "form-horizontal"}) do |f| %>
	<div class="form-group">
		<%= f.label :brand, "Rodzaj", class: "control-label"  %>
		<%= f.text_field :brand, class: "form-control col-sm-4" %>
	</div>
<br />
<%= f.submit "Zapisz" %>
<% end %>
